@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i&subset=cyrillic');

*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Open Sans';
    font-weight: 400;
    background-color: #fdfe41;
}

body>header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #c3e8e8;
    z-index: 20;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 20px;
}

.logo p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    text-shadow: 2px 2px 2px black, 0 0;
    color: #3eade0;
    margin-left: 20px;
}

.hamburger {
    padding-right: 30px;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.menu {
    position: absolute;
    top: -705px;
    width: 400px;
    height: 430px;
    background: url('img/menu.png') no-repeat 0 0;
    background-size: contain;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0px 5px 30px 10px #000;
}

.cross {
    position: absolute;
    top: 10px;
    left: 365px;
    cursor: pointer;
}

.menu-logo {
    position: relative;
    text-align: center;
    padding-bottom: 60px;
}

.menu-body p {
    padding-bottom: 5px;
}

.menu h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    color: #3eade0;
    text-shadow: 2px 2px 2px black, 0 0;
}

.menu img {
    position: absolute;
    top: 50px;
    left: 48px;
}

.menu input {
    width: 70px;
    height: 25px;
    text-align: center;
}

.size {
    display: flex;
    padding-bottom: 10px;
}

.size p {
    margin: 0 10px;
}

.menu-button {
    padding-top: 40px;
    text-align: center;
}

.menu button {
    width: 175px;
    height: 50px;
    cursor: pointer;
    background: #ab6e44;
    color: #000;
    border: unset;
    border-radius: 10px;
    font-size: 1.4rem;
    font-family: 'Press Start 2P', cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
    0% {
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8)
    }

    50% {
        -webkit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }

    100% {
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
}

@keyframes pulsing {
    0% {
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8)
    }

    50% {
        -webkit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }

    100% {
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
    }
}

.game {
    display: none;
}

section.game table {
    background: white;
    border: 1px solid black;
    height: 680px;
    width: 800px;
    border-spacing: 0;
}

section.game table td {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#green {
    background-color: #96ee88;
    color: transparent;
}

#green:hover {
    background-color: #3dac2c;
}

.red {
    background:#ff0000;
}

.brown {
    background:#ecbf8e;
    font-weight: bold;
}

.grey {
    background: url('img/flag.png') no-repeat center;
    background-color: #bdbdbd;
    color: transparent;
}


