@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i&subset=cyrillic');
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Open Sans';
    font-weight: 400;
    background-image: linear-gradient(30deg, #ffffff,#f5f0ff );
}
body > header {
    height: 60px;
    background-color: #7161EF;
}
#page {
    flex: 1;
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#page > div {
    box-sizing: border-box;
    background: white;
    border: 1px solid black;
    height: 480px;
    width: 640px;
    box-shadow: 10px -10px 0 0 #7161EF;
    padding: 35px;
}
section#frame_1 {
    height: 100%;
    width: 100%;
    /* display: flex; */
    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
#frame_1 > p {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 0;
}
#frame_1 > p > span {
    font-weight: 600;
    color: #a09016;
}
#frame_1 > small {
    font-size: 1rem;
    margin-top: 30px;
    margin-bottom: 100px;
}
#frame_1 > button {
    width: 200px;
    height: 50px;
    margin-left: 300px;
    cursor: pointer;
    background: #7161EF;
    color: white;
    border: unset;
    font-size: 1.3rem;
}
#frame_1 > button:focus {
    outline: none;
}
#frame_1 > button:hover {
    background: #a397ff;
}

section#frame_2 {
    height: 100%;
    width: 100%;
    /* display: none; */
    display: flex;
    flex-flow: column nowrap;
}
#frame_2 > small {
    align-self: flex-start;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 30px;
}

input {
    border: none;
    border-bottom: 1.5px solid #a397ff;
    margin-bottom: 10px;
    width: 235px;
    outline: none;
}

.left {
    float: left;
    padding-left: 30px;
}

.right {
    float: right;
    padding-right: 30px;
}

.right > p:nth-child(3) {
    padding-top: 55px;
}

.left > p, .right > p {
    margin: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.buttons button {
    width: 125px;
    height: 35px;
    cursor: pointer;
    background: #7161EF;
    color: white;
    border: unset;
    font-size: 1rem;
    margin: 0 5px;
}

.buttons button:focus {
    outline: none;
}

.buttons button:hover {
    background: #a397ff;
}

button:disabled {
    background: #c4bdf0;
}

button:disabled:hover {
    background: #c4bdf0;
}

section#frame_3 {
    height: 100%;
    width: 100%;
    display: none;
    flex-flow: column nowrap;
}

#countries {
    margin-bottom: 10px;
}