#loader {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.value {
    width: 400px;
    height: 50px;
    background: #fff;
    background-position-x: 0px;
    border: 1px solid black;
    border-radius: 30px;
    overflow: hidden;
}

.value-box {
    width: 0%;
    height: 50px;
    background: #6736c3;
}